<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>{% block title %} {% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
<link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
<link rel="stylesheet" type = "text/css" href="{{url_for('static', filename='css/index.css')}}">

</head>
<body>
<!-- partial:index.partial.html -->
<header>
  <nav>
    <div id="brand">
      <div id="logo">
        <img id="ghostcodelogo" src="{{url_for('static', filename='img/logo.png')}}" alt=""></img>
      </div>
      <div id="word-mark">
        <img id="ghostcode" src="{{url_for('static', filename='img/ghostcode.png')}}" alt=""></img>
        
      </div>
    </div>
    <div id="container2">
      <form autocomplete="off">
        <div class="finder">
          <div class="finder__outer">
            <div class="finder__inner">
              <div class="finder__icon" ref="icon"></div>
              <input class="finder__input" type="text" name="q" placeholder="Buscar producto..." />
            </div>
          </div>
        </div>
        
      </form>
      <div id="buttons">
        <button class="button-value" onclick="filterProduct('all')">Todos</button>
        <button class="button-value" onclick="filterProduct('2')">Celulares - Tablets</button>
        <button class="button-value" onclick="filterProduct('3')">TV - Audio - Video</button>
        <button class="button-value" onclick="filterProduct('4')">Consolas - Videos Juegos</button>
        <button class="button-value" onclick="filterProduct('5')">Computación</button>
        <button class="button-value" onclick="filterProduct('6')">Moda</button>
        <button class="button-value" onclick="filterProduct('10')">Ofertas</button>

      </div>
    </div>
    <div id="menu">
      <div id="menu-toggle">
        <div id="menu-icon">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
      <ul>
        <li><a href="#section00"></a></li>
        <li><a href="#section01"></a></li>
        <li><a href="#section02"></a></li>
        <div id="cartdiv">
          <a href="/">
          <img id="cart" src="{{url_for('static', filename='img/cart.png')}}" alt=""></img>
          </a>
      </ul>
    </div>
  </nav>
  <div id="hero-section">
    <div class="container">
        

        <div class="products" data-product-cards-container></div>
        <template data-product-template>
          <div class="card">
            <!--<img class="img" data-img></img>--> 
            <div class="header" data-header></div>
            <div class="body" data-body></div>
            <div class="body2" data-body2></div>
            <div class="body3" data-body3></div>
            <div class="card2">
              <div class="img" data-img></div>
            </div>
          </div>
          
        </template>
    
    </div>

    
    <!-- 
        <div>
        <h1 class="texto">Bienvenido a Administración</h1>
        <h1 class="texto">de</h1>
        <h1 class="texto">Adquisiciones</h1>
      </div>
        
        <div id="head-line"></div> -->
  </div>
</header>
<section id="section00">
  <div id="heading">
    
    <div id="form-box">
      <div class="left">
        <h1 class="h1pro">Almacenar Producto</h1>
        
        <input id="x1" class="input1" type="text" name="name" placeholder="Nombre del Producto" required value="" />
        <input id="x2" class="input1" type="text" name="description" placeholder="Descripción" required value="" />
        <input id="x3" class="input1" type="text" name="price" placeholder="Precio" required value="" />
        <input id="x4" class="input1" type="text" name="quantity" placeholder="Cantidad" required value="" />
        <input id="x5" class="input1" type="text" list="categoria" name="subcategory_id" placeholder="Categoría" 
        pattern="2|3|4|5|6|10"
        title='Tiene que ser "2", "3", "4", "5","6" o "10"' required value="" />
        <datalist id="categoria">
          <option value="2">Celulares - Tablets
          <option value="3">TV - Audio - Video
          <option value="4">Consolas - Videos Juegos
          <option value="5">Computación
          <option value="6">Moda
          <option value="10">Ofertas
        </datalist>
        <input class="input1" type="submit" name="signup_submit" onclick="adquisicionProducto()" value="Almacenar" />
      </div>
    </div>
    <div id="form-box2">
      <div class="right">
        <h1 class="h1pro">Actualizar Producto</h1>
        
        <input id="y0" class="input1" type="text" name="id" placeholder="ID Producto" required value="" />
        <input id="y1" class="input1" type="text" name="name" placeholder="Nombre del Producto" required value="" />
        <input id="y2" class="input1" type="text" name="description" placeholder="Descripción" required value="" />
        <input id="y3" class="input1" type="text" name="price" placeholder="Precio" required value="" />
        <input id="y4" class="input1" type="text" name="quantity" placeholder="Cantidad" required value="" />
        <input class="input1" type="submit" name="signup_submit" onclick="actualizarProducto()" value="Actualizar" />
      </div>
    </div>
  </div>
</section>
<section id="section01">
  <div id="heading"></div>
</section>
<section id="section02">
  <div id="heading"></div>
</section>
<section id="section03">
  <div id="heading"></div>
</section> <!-- <a href="https://youtu.be" id="youtube"><i class="fa fa-youtube-play"></i></a> -->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script  src="{{url_for('static', filename='js/script.js')}}"></script>


  {% block content %}
    
  {% endblock %}

</body>
</html>
